//

// Bootstrap
@import "~bootstrap/scss/bootstrap";
//Declaracion de variables
$bgColor: black;
$fontColor: white;
$bgColor-hover: gray;
$widthContainer: 300px;
$heightContainer: 200px;
// div {
//     width: $widthContainer;
//     height: $heightContainer;
//     background-color: $bgColor;
//     &.hola {
//         color: $fontColor;
//     }
//     &:hover {
//         background-color: $bgColor-hover;
//     }
// }
